html,body{
    height: 100%;
}

section.bg-top{
    width:100%;
    height: 600px;
    background-image: url('/assets/bg.jpeg');
    position: relative;
    background-attachment: fixed;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    position: absolute;
    z-index: 1;
}
.text-bg{
    color: #f5f5f5;
    position: relative;
}

.bg-top{
    display: flex;
    align-items: center;
}

.call{
    background-color: #3FA3C5;
    color: #f5f5f5;
    display: flex;
    align-items: center;
}

.sobre{
    padding:2% 0;
    background-color: rgb(139, 135, 135);
    color: #f5f5f5;
}

.custom-title h2{
    font-size: 36px;
    margin: 0 0 2% 0;
}

section.diferenciais{
    padding:30px;
    color: #646464;
  }
  
  section.diferenciais .col-md-4{
    padding: 0 40px;
  }
  
  section.diferenciais h2{
    padding:10px;
    border-bottom: 1px dotted black;
  }
  
  section.convite{
    padding: 15px 0;
    background: #3FA3C5;
  }
  
  section.convite h2{
    font-size: 28px;
    margin: 15px 0;
    color: white;
  }
  
  section.convite form{
    margin: 15px 0;
  }
  
  section.convite input[type=email]{
    width: calc(100% - 100px);
    height: 40px;
  }
  
  section.convite button{
    width: 100px;
    height: 40px;
    vertical-align: top;
  }
  
  section.contato{
    padding:30px 0;
    background: rgb(225,225,225);
  }
  
  footer{
    padding:14px 0;
    background: #333;
    color: white;
  }
  
  footer ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: inside;
  }
  
  .group-btns a{
    margin:0 10px;
  }
  
  footer a{
    color: white;
    font-size: 17px;
  }